django  
uwsgi 
pymysql
redis
lxml
beautifulsoup4
requests 
chardet 
sqlalchemy 
gevent 
psutil 
djangorestframework
markdown
django-filter
Pygments
cssselect
python-wordpress-xmlrpc
django-constance[database]
django-tinymce
django-object-actions
django-admin-row-actions

